@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #c0282c;
  --yellow: #fefff3;
  --pink: #faeaf2;
  --slight-hard-pink: #f9d3e6;
  --light-blue: #c9eefe;
  --blue: #3bc4ed;
  --green: #b3d09f;
  --other-green: #00b38f;
  --light-green: #f5ffef;
  --dark-green: #02555b;
}

input:focus {
  border: 1px solid var(--red);
}
